*{margin:0; padding:0;background-color:lightgray;overflow: visible;}

a:link{
    text-decoration: none;
}

.menu{
    background-color:lightgray;
    overflow: auto;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover{
    color: black;
}

body{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    position: absolute;
    left: 185px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

embed{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#formacao{
    position: relative;
    left: 160px;
}

div{
    margin-left: 160px;
}

.medias{
    margin-left: 50px;
}

#ano1{
    margin-left: 250px;
   
}

table {
    display:table; 
    border-spacing: 2px;
    width: 400px;
    border: 1px solid black;
}

th, td{
    padding: 2px;
    text-align: center;
    border: 1px solid black;
 }

 .table1{
     float:left;
     box-align:center;
     margin-left: 125px;
     }

#ano2{ 
    margin-left: 850px;
    margin-top: -50px;
}

 .table2{
     float: right;
     box-align:center;
     margin-right: 150px;
 }


#info{
    line-height: 2.5em;
}

#tecn{
    line-height: 2.5em;
}
.cinform{
    position: absolute;
    margin-top: 320px;
    line-height:1.5em;
}

.ctecn{
    position: absolute;
    right: 100px;
    margin-top: 300px;
    line-height:1.5em;
}

#cv{
    position: absolute;
    margin-left: 80px;
    font-size: 14px;
}

#dw{
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;
    color: blue;
    font-weight: bold;  
    font-size: 16px;
}

button{
    margin-left: 25px;
}

iframe{

    margin-left: 5%;
    margin-top: 80px;
}

.curriculo{
    margin-top: 60px;
    float: right;
    margin-right: 140px;
}